<!DOCTYPE html>
<html lang="en">
  <%- include("./head") %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include("./sidebar") %>
        <div class="col-sm-10">
          <!-- Place content here -->
        </div>
      </div>
    </div>
  </body>
</html>
